<footer class="footer-section pad-70">
  <img ngSrc="./assets/logo.png" width="165" height="126"/>
  <ul class="social-links">
    <li>
      <a href="github.com/daya-diaz" target="_blank">
        <img ngSrc="./assets/github-logo.png" width="50" height="50"/>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/dayane-santos-melo/" target="_blank">
        <img ngSrc="./assets/linkedin-logo.png" width="50" height="50"/>
      </a>
    </li>
    <li>
      <a href="https://main--statuesque-dusk-0f6ed3.netlify.app/" target="_blank">
        <img ngSrc="./assets/portfolio-logo.png" width="50" height="50"/>
      </a>
    </li>
  </ul>
</footer>
