.footer-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  ul {
    display: flex;
    align-items: center;
    gap: 32px;

    li {
      list-style: none;
      a {
        img {
          transition: all .2s ease-in-out;
          &:hover {
            width: 55px;
            height: 55px;
          }
        }
      }
    }
  }
}
